%general-text-header-style {
  font-size: 20px;
  font-weight: 400;
}

%general-container-style {
  margin: 10px 16px;
  padding: 5px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
}

.container {
  @extend %general-container-style;

  .header-text {
    @extend %general-text-header-style;
  }
} 