<mat-card class="card">
  <p class="card-header">Резюме</p>
  <div class="container">

    <app-general-information [genInformation]="resumeObject.generalInformation"></app-general-information>

    <app-contacts [contacts]="resumeObject.contacts"></app-contacts>

    <app-official-information [offInformation]="resumeObject.officialInformation"></app-official-information>

    <app-skills [skills]="resumeObject.skills"></app-skills>

    <app-achievements [achievements]="resumeObject.achievements"></app-achievements>

    <app-work-experience [workExp]="resumeObject.workExperience"></app-work-experience>

    <app-education [education]="resumeObject.education"></app-education>

    <app-additional-information [addInformation]="resumeObject.additionalInformation"></app-additional-information>

    <app-photo [photo]="resumeObject.photo"></app-photo>

    <div class="button-box">
      <button class="submit-btn" mat-button><a (click)="onSubmitClick()">Принять</a></button>
    </div>
    <!-- <a (click)="onSubmitClick()" routerLink="/resume" routerLinkActive="active">Принять</a> -->
  </div>
</mat-card>