<mat-card class="card">
  <p class="card-header">Резюме</p>
  <div class="container">

    <app-general-information></app-general-information>

    <app-contacts></app-contacts>

    <app-official-information></app-official-information>

    <app-skills></app-skills>

    <app-achievements></app-achievements>

    <app-work-experience></app-work-experience>

    <app-education></app-education>

    <app-additional-information></app-additional-information>

    <app-photo></app-photo>

    <div class="button-box">
      <button class="submit-btn" mat-button>Принять</button>
    </div>


  </div>
</mat-card>