<mat-card class="card">
  <p class="card-header">Резюме</p>
  <div class="container">

    <app-general-information (sendInfo)="addGeneralInfo($event)"></app-general-information>

    <app-contacts (sendInfo)="addContacts($event)"></app-contacts>

    <app-official-information (sendInfo)="addOffInfo($event)"></app-official-information>

    <app-skills (sendInfo)="addSkills($event)"></app-skills>

    <app-achievements (sendInfo)="addAchievements($event)"></app-achievements>

    <app-work-experience (sendInfo)="addWorkExperience($event)"></app-work-experience>

    <app-education (sendInfo)="addEducation($event)"></app-education>

    <app-additional-information (sendInfo)="addInfo($event)"></app-additional-information>

    <app-photo (sendInfo)="addPhoto($event)"></app-photo>

    <div class="button-box">
      <button class="submit-btn" mat-button><a (click)="onSubmitClick()" routerLink="/resume" routerLinkActive="active">Принять</a></button>
    </div>
  </div>
</mat-card>