<div class="official-information-container">
  <p class="header-text">Должностные сведения</p>
  <div class="official-information">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Желаемая должность</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Желаемый уровень дохода</mat-label>
      <input placeholder="USD" OnlyNumber="true" appOnlyNumberDirective matInput>
    </mat-form-field>
  </div>
</div>