<div class="container">
  <p class="header-text">Должностные сведения</p>
  <div class="component-content">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Желаемая должность</mat-label>
      <input (change)="onChangeCareerObjectiveValue($event)" matInput>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Желаемый уровень дохода</mat-label>
      <input (change)="onChangeDesiredIncomeValue($event)" placeholder="USD" OnlyNumber="true" appOnlyNumberDirective matInput>
    </mat-form-field>
  </div>
</div>