<div class="container">
  <p class="header-text">Навыки</p>
  <div class="component-content">
    <div class="add-content-box">
      <div class="form-box">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Ключевые навыки</mat-label>
          <input matInput #selectedSkill>
        </mat-form-field>
      </div>
      <div class="button-box">
        <button mat-button (click)="onSelectSkill(selectedSkill.value)">Добавить</button>
      </div>
    </div>
    <div class="content-items">
      <div class="list-box">
        <ul class="list">
          <li class="list-item" *ngFor="let skill of skillsList">
            <app-skills-item [skill]="skill" (clicked)="onDeleteButtonClick($event, skill)"></app-skills-item>
          </li>
        </ul>
      </div>
      <div class="null-box">

      </div>
    </div>
  </div>
</div>