.skills-container .skills .add-skill-box,
.skills-container .skills .skill-description {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  justify-content: center;
}
.skills-container .header-text {
  font-size: 20px;
  font-weight: 400;
}
.skills-container {
  margin: 10px 16px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
}
.skills-container .skills .add-skill-box {
  margin: auto;
  width: 80% !important;
  align-items: center;
}
.skills-container .skills .add-skill-box .form-box {
  flex: 0 0 60%;
}
.skills-container .skills .add-skill-box .form-box .form-field {
  min-width: 200px;
  width: 100%;
}
.skills-container .skills .add-skill-box .button-box {
  flex: 0 0 20%;
  padding-bottom: 20px;
}
.skills-container .skills .skill-description {
  margin: auto;
  width: 80% !important;
  align-items: center;
}
.skills-container .skills .skill-description .list-box {
  flex: 0 0 60%;
}
.skills-container .skills .skill-description .list-box .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.skills-container .skills .skill-description .list-box .list .list-item {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 3px;
}
.skills-container .skills .skill-description .null-box {
  flex: 0 0 20%;
}
