%general-block-style {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex; 
  -webkit-flex-wrap: wrap;
  justify-content: center;
}

%general-form-field-style {
  flex: 0 0 40%;
  margin: 0 10px;
  width: 400px;
  min-width: 200px;
}

%general-text-header-style {
  font-size: 20px;
  font-weight: 400;
}

%general-container-style {
  margin: 10px 16px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
}

.contacts-container {
  @extend %general-container-style;

  .header-text {
    @extend %general-text-header-style;
  }

  .contacts {
    @extend %general-block-style;

    .form-field {
      @extend %general-form-field-style;
    }
  }
}