<mat-card class="card">
  <div class="container">
    <div class="img-box">
      <img [src]="resumeObject.photo" alt="img">
    </div>
    <div class="content-box">
      <div class="general-information">
        <div class="header">
          <p class="name">{{ resumeObject.generalInformation.name }}</p>
        </div>
        <div class="add-info">
          <p>{{ resumeObject.generalInformation.date }}</p>
          <p>{{ resumeObject.generalInformation.accommodation }}</p>
          <p>{{ resumeObject.generalInformation.relocation }}</p>
        </div>
      </div>
      <div class="contacts">
        <p class="header">Контактная информация: </p>
        <p>{{ resumeObject.contacts.phoneNumber }}</p>
        <p>{{ resumeObject.contacts.email }}</p>
        <p>{{ resumeObject.contacts.git }}</p>
        <p>{{ resumeObject.contacts.skype }}</p>
        <p>{{ resumeObject.contacts.linkedin }}</p>
      </div>
      <div class="official-information">
        <p>Желаемая должность: {{ resumeObject.officialInformation.careerObjective }}</p>
        <p>Желаемый уровень дохода: {{ resumeObject.officialInformation.desiredIncome }}</p>
      </div>
      <div class="skills">
        <div class="header">
          <p>Ключевые навыки:</p>
        </div>
        <div class="add-info">
          <ul class="list">
            <li class="list-item" *ngFor="let item of resumeObject.skills">
              <p>{{ item }}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="achievements">
        <div class="header">
          <p>Достижения:</p>
        </div>
        <div class="add-info">
          <ul class="list">
            <li class="list-item" *ngFor="let item of resumeObject.achievements">
              <p>{{ item }}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="work-experience">
        <div class="header">
          <p>Опыт работы:</p>
        </div>
        <ng-container *ngFor="let item of resumeObject.workExperience">
          <div class="content">
            <div class="period-and-position">
              <p>{{ item.periodOfTime.start | date }} - {{ item.periodOfTime.end | date }}</p>
              <p>{{ item.position }}</p>
            </div>
            <div class="company">
              <p>{{ item.job }}</p>
            </div>
            <div class="scope-company">
              <p>{{ item.scopeCompany }}</p>
            </div>
            <div class="responsibility">
              <ul class="list">
                <li class="list-item" *ngFor="let responsibility of item.responsibility">
                  <p>{{ responsibility }}</p>
                </li>
              </ul>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="education">
        <div class="header">
          <p>Образование:</p>
        </div>
        <div class="content" *ngFor="let item of resumeObject.education">
          <div class="period-and-study-place">
            <p>{{ item.periodOfTime.start | date }} - {{ item.periodOfTime.end | date }}</p>
            <p>{{ item.studyPlace }}</p>
          </div>
          <div class="faculty">
            <p>{{ item.faculty }}</p>
          </div>
          <div class="specialty">
            <p>{{ item.specialty }}</p>
          </div>
          <div class="qualification">
            <p>{{ item.qualification }}</p>
          </div>
        </div>
      </div>
      <div class="additional-information">
        <ul class="list">
          <li class="list-item" *ngFor="let item of resumeObject.additionalInformation">
            <p>{{ item }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</mat-card>
