<mat-card class="card">
  <div class="container">
    <div class="img-box">
      <img src="" alt="img">
    </div>
    <div class="content-box">
      <div class="general-information">
        <div class="header">
          <p class="name">Something</p>
        </div>
        <div class="add-info">
          <p>Something</p>
          <p>Something</p>
          <p>Something</p>
        </div>
      </div>
      <div class="contacts">
        <p class="header">Something</p>
        <p>Something</p>
        <p>Something</p>
      </div>
      <div class="official-information">
        <p>Желаемая должность: </p>
        <p>Желаемый уровень дохода: </p>
      </div>
      <div class="skills">
        <div class="header">
          <p>Ключевые навыки:</p>
        </div>
        <div class="add-info">
          <ul class="list">
            <li class="list-item">
              <p>Something</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="achievements">
        <div class="header">
          <p>Достижения:</p>
        </div>
        <div class="add-info">
          <ul class="list">
            <li class="list-item">
              <p>Something</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="work-experience">
        <div class="header">
          <p>Опыт работы:</p>
        </div>
        <div class="content">
          <div class="period-and-position">
            <p>Year - Year</p>
            <p>Something</p>
          </div>
          <div class="company">
            <p>Something</p>
          </div>
          <div class="scope-company">
            <p>Something</p>
          </div>
          <div class="responsibility">
            <ul class="list">
              <li class="list-item">
                <p>Something</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="education">
        <div class="header">
          <p>Образование:</p>
        </div>
        <div class="content">
          <div class="period-and-study-place">
            <p>Year - Year</p>
            <p>Something</p>
          </div>
          <div class="faculty">
            <p>Something</p>
          </div>
          <div class="specialty">
            <p>Something</p>
          </div>
          <div class="qualification">
            <p>Something</p>
          </div>
        </div>
      </div>
      <div class="additional-information">
        <ul class="list">
          <li class="list-item">
            <p>Something</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</mat-card>
